<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-buttons defaultHref="/" text ="Regresar" color="primary">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-button>
    <ion-title>Añadir Nueva moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <label for="foto">
      <img id="icon" src="/assets/camara.svg">
    </label>
    <ion-label position="floating">Seleccione Imagen</ion-label>
    <input id="foto" type="file" name="foto"  (change)='cargarFoto($event)' />
  </ion-item>

  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input [(ngModel)]="marca"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-input [(ngModel)]="modelo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Año</ion-label>
    <ion-input [(ngModel)]="year"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label *ngIf="inputError" color="danger">Error falta por rellenar algun campo del formulario</ion-label>
  </ion-item>

  <ion-button (click)="guardarMoto()" expand="block" fill="clear" shape="round" color='primary'>
    Guardar moto
  </ion-button>

</ion-content>
