<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Mis Motos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" >
  <ion-header>
      <ion-toolbar>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor=" let itemLogo of menuList">
          <ion-item (click)="filtrarMarca(itemLogo.value)"> 
            <ion-img [src]="itemLogo.logo" ></ion-img>   
            <ion-title>{{itemLogo.marca}}</ion-title>     
          </ion-item>
        </ion-menu-toggle>
         
      </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item *ngFor="let moto of listaMotos" (click)="abritDetalle(moto)">
      <ion-img class="img-list"[src]="moto.foto" [alt]="moto.modelo" ></ion-img>
      <h3>{{moto.marca}}</h3>
      <p>{{moto.modelo}}</p>
    </ion-item>
    
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-moto">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


